<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worst Kitchen Ever</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="inner_header">
                <div class="navbar_left">
                    <img src="/static/images/null.png" alt="header">
                    <h1>Worst Kitchen Ever</h1>
                </div>
                <div class="navbar_right">
                    <div id="login">
                        <form action="/go_to_login" method="post">
                            <input type="submit" value="Login" class="login_signup_buttons">
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <div class="content login_container">
            <div class="middle_col_login">
                <div class="login_col">
                    <div class="title">
                        <h1>Sign Up</h1>
                    </div>
                    <br>
                    {% with messages = get_flashed_messages(category_filter=["registration_error"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="flash_error">{{message}}</p>
                            {% endfor %}
                            <br>
                        {% endif %}
                    {% endwith %}
                    <form action="/registering" method="post">
                        <label for="first_name">First Name:</label>
                        <br>
                        <input type="text" name="first_name" id="first_name" class="input_box" size="35">
                        <br><br>
                        <label for="last_name">Last Name:</label>
                        <br>
                        <input type="text" name="last_name" id="last_name" class="input_box" size="35">
                        <br><br>
                        <label for="email">Email Address:</label>
                        <br>
                        <input type="text" name="email" id="email" class="input_box" size="35">
                        <br><br>
                        <label for="password">Password:</label>
                        <br>
                        <input type="password" name="password" id="password" class="input_box" size="35">
                        <br><br>
                        <label for="conf_password">Confirm Password:</label>
                        <br>
                        <input type="password" name="conf_password" id="conf_password" class="input_box" size="35">
                        <br><br>
                        <input type="submit" value="Sign Up" class="button">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>